
@{
    ViewBag.Title = "Index";
}
<style>
    .card-header-icon {
        position: absolute;
        z-index: 0;
        top: -25px;
        right: -25px;
        font-size: 1rem;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
        opacity: 0.3;
    }
    .cardMenuItem {
        border: none;
    }
    
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/Restaurent">餐廳列表</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.restaurentName  詳細菜單</li>
</ol>


    <div class="row card o-hidden " >
        <div class="card-header">
            <h5 class="card-title"><a href="#demo" data-toggle="collapse"> 55555555555555</a></h5>
            <img class="card-header-icon" src="~/picture/1610141522090000001.jpg"  />
            <div id="demo" class="collapse">
                <p>...............................................................................................................................................................................</p>
            </div>
        </div>

        <div class="card-body">

            <div class="card-deck">

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

            </div>

            
            <div id="page">
                <ul class="pagination pagination-sm">
                    <li class="page-item prev"><a class="page-link" href="#">上一頁</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item next"><a class="page-link" href="#">下一頁</a></li>
                </ul>
            </div>
        </div>
        </div>
   

<script>
    
    $(function () {

        //實現分頁思路:
        var pageSize = 4;      //每頁顯示數據條數
        var currentPage = 1;   //當前頁數
        var prevPage = 0;
        /*var totalSize = $("#item li").index();*/ //獲取總數據
        var totalSize = $(".cardMenuItem").length;
        var totalPage = Math.round(totalSize / pageSize); //計算總頁數
        $(".cardMenuItem:gt(3)").hide(); //設置首頁顯示4條數據
        $(".total").text(totalPage);  //設置總頁數
        $(".current_page").text(currentPage); //設置當前頁數


        $(".pagination").empty().append('<li class="page-item prev"><a class="page-link" href="#">❮</a></li>');

        for (var index = currentPage; index <= totalPage; index++) {
            $(".pagination").append('<li class="page-item pageItems"><a class="page-link" href="#">' + index + '</a></li>');
        }
        $(".pagination").append('<li class="page-item next"><a class="page-link" href="#">❯</a></li>');

        //實現下一頁
        $(".next").click(function () {
            if (currentPage == totalPage) { //當前頁數==最後一頁，禁止下一頁
                return false;
            } else {//不是最後一頁，顯示應該顯示的數據.
                $(".current_page").text(++currentPage);  //當前頁數先+1
                var start = pageSize * (currentPage - 1);
                var end = pageSize * currentPage;
                $.each($('.cardMenuItem'), function (index, item) {
                    if (index >= start && index < end) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });

            }
        });

        //實現上一頁
        $(".prev").click(function () {
            if (currentPage == 1) {//當前頁數==1，禁止上一頁
                return false;
            } else {
                $(".current_page").text(--currentPage);  //當前頁數先-1
                var start = pageSize * (currentPage - 1);
                var end = pageSize * currentPage;
                $.each($('.cardMenuItem'), function (index, item) {
                    if (index >= start && index < end) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
        });

        //選擇特定頁
        $(".pageItems").click(function () {
            //alert(this.innerText);
            prevPage = currentPage;
            currentPage = this.innerText;

            //alert($(".pagination").find("li")[0].innerText);
            //加入page-item  active
            //$(".pagination").find("li")[currentPage].addClass('active');

            var start = pageSize * (currentPage - 1);
            var end = pageSize * currentPage;
            $.each($('.cardMenuItem'), function (index, item) {
                if (index >= start && index < end) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });

        });

    });

</script>


