
@{
    ViewBag.Title = "Index";
}
<style>
    .card-header-icon {
        position: absolute;
        z-index: 0;
        top: -25px;
        right: -25px;
        font-size: 1rem;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
        opacity: 0.3;
    }

    .cardMenuItem {
        border: none;
        text-shadow: 1px 1px 3px #555;
        font-weight: 700;
    }

    /*.product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
        box-shadow: 1px 5px 15px #CCC;
        width: 10em;
        height: auto;
        border-radius: 6px;
        padding: 0.5em;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
    }*/

    .product--blue {
        /*background: -webkit-linear-gradient(180deg, #92DCE5 50%, rgba(255, 255, 255, 0.5) 50%);
        background: linear-gradient(-45deg, #92DCE5 50%, rgba(255, 255, 255, 0.5) 50%);*/
        background: radial-gradient(#ff8da1 30%, pink 34%);
        background-size: 30px 30px;
    }

    /*.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
        max-width: 100%;
        height: auto !important;
        text-align: center;
     }*/

    /*.product_inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
     }*/

     .product_inner p {
        color: black;
      }

      .product_inner button {
         border: 1px solid rgba(255, 255, 255, 0.5);
         color: #FFF;
         border-radius: 3px;
         padding: 1em 3em;
         margin: 1em 0 0 0;
         background: none;
         cursor: pointer;
          -webkit-transition: background ease-in .25s;
         transition: background ease-in .25s;
        }

       .product_inner button:before {
          font-family: FontAwesome;
          content: '\f07A';
          color: #FFF;
          position: absolute;
          font-size: 1.5em;
          margin: 0 -1.5em;
        }

       .product_inner button:hover {
          background: white;
          color: #2B2D42;
        }

       .product_inner button:hover:before {
          color: #2B2D42;
        }

    .product_overlay {
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        opacity: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .product_overlay h2 {
            color: rgba(43, 45, 66, 0.7);
            font-size: 1.2em;
            margin: 1em 0;
        }

        .product_overlay i {
            color: rgba(43, 45, 66, 0.7);
            font-size: 1.5em;
        }

</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/Restaurent">餐廳列表</a>
    </li>
    <li class="breadcrumb-item active">777777777 詳細菜單</li>
</ol>


<div class="col-12">
    <div class="card o-hidden">
        <div class="card-header">
            <h5 class="card-title"><a href="#demo" data-toggle="collapse"> 55555555555555</a></h5>
            <img class="card-header-icon" src="~/picture/1610141522090000001.jpg" />
            <div id="demo" class="collapse">
                <p>...............................................................................................................................................................................</p>
            </div>
        </div>

        <div class="card-body">
            <div class="row">

                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                            <p class="card-text"> .<br />.<br />.<br />.<br />.<br />.<br /></p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 ">
                    <div class="card text-center cardMenuItem product--blue">

                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>

                <div class="card text-center cardMenuItem col-sm-3 product--blue">

                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>

                </div>

                <div class="card cardMenuItem col-sm-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">.<br />.<br />.<br />.<br /> This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card text-center cardMenuItem col-sm-3 ">
                    <div class="product--blue">
                        <img class="card-img-top" src="~/photo/E1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">卡啦炸雞</h5>
                            <p class="card-text"> 價格：$75</p>
                        </div>
                        <div class="card-footer">
                            <div class='product_inner'>
                                <button id="button1">加入購物車</button>
                                <div class='product_overlay'>
                                    <h2>Added to basket</h2>
                                    <i class='fa fa-check'></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div id="page">
                    <ul class="pagination pagination-sm">
                        <li class="page-item prev"><a class="page-link" href="#">上一頁</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item next"><a class="page-link" href="#">下一頁</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        //實現分頁思路:
        var pageSize = 8;      //每頁顯示數據條數
        var currentPage = 1;   //當前頁數
        var prevPage = 0;
        var totalSize = $(".cardMenuItem").length; //獲取總數據
        var totalPage = Math.round(totalSize / pageSize); //計算總頁數
        $(".cardMenuItem:gt(7)").hide(); //設置首頁顯示8 (8-1) 條數據
        

        //移除原有 .pagination 裡的元素 , append "前一頁" li
        $(".pagination").empty().append('<li class="page-item prev"><a class="page-link" href="#">❮</a></li>');
        //依總分頁數 , append 各分頁 li
        for (var index = currentPage; index <= totalPage; index++) {
            $(".pagination").append('<li class="page-item pageItems"><a class="page-link" href="#">' + index + '</a></li>');
        }
        //append "後一頁" li
        $(".pagination").append('<li class="page-item next"><a class="page-link" href="#">❯</a></li>');


        //實現下一頁
        $(".next").click(function () {
            if (currentPage == totalPage) { //當前頁數==最後一頁，禁止下一頁
                return false;
            } else {//不是最後一頁，顯示應該顯示的數據.
                $(".current_page").text(++currentPage);  //當前頁數先+1
                var start = pageSize * (currentPage - 1);
                var end = pageSize * currentPage;
                $.each($('.cardMenuItem'), function (index, item) {
                    if (index >= start && index < end) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });

            }
        });

        //實現上一頁
        $(".prev").click(function () {
            if (currentPage == 1) {//當前頁數==1，禁止上一頁
                return false;
            } else {
                $(".current_page").text(--currentPage);  //當前頁數先-1
                var start = pageSize * (currentPage - 1);
                var end = pageSize * currentPage;
                $.each($('.cardMenuItem'), function (index, item) {
                    if (index >= start && index < end) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
        });

        //選擇特定頁
        $(".pageItems").click(function () {
            //alert(this.innerText);
            prevPage = currentPage;
            currentPage = this.innerText;

            //alert($(".pagination").find("li")[0].innerText);
            //加入page-item  active
            //$(".pagination").find("li")[currentPage].addClass('active');

            var start = pageSize * (currentPage - 1);
            var end = pageSize * currentPage;
            $.each($('.cardMenuItem'), function (index, item) {
                if (index >= start && index < end) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });

        });

    });

    //Add To Basket Animation
    $("button#button1").click(function () {
        //alert(this);
        $(this).parent()
            .find(".product_overlay")
            .css({
                transform: " translateY(0px)",
                opacity: "1",
                transition: "all ease-in-out .45s"
            })
            .delay(1500)
            .queue(function () {
                $(this)
                    .css({
                        transform: "translateY(-500px)",
                        opacity: "0",
                        transition: "all ease-in-out .45s"
                    })
                    .dequeue();
            });

    })
</script>


