@model List<task03_0606.Models.Order>
@{
    ViewBag.Title = "Order_list_costomer";
}
<style>
    
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

</style>



<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Products/Index">美食分類</a>
    </li>
    <li class="breadcrumb-item active">訂單列表-我的餐點訂單</li>
</ol>

<div class="row">
    <div class="table-responsive-sm col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>訂單單號</th>
                    <th>下單時間</th>
                    <th>訂單狀況</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var order in Model)

                {
                    <tr class="orderListItem"  >
                        <td><a href="~/Order/Order_detail_costomer?itemOrderId=@order.orderId&orderDate=@order.orderDate">@string.Format("{0:yyyyMMdd}{1}", Convert.ToDateTime(order.orderDate), (order.orderId + 10000)) </a></td>
                        <td>@string.Format("{0:yyyy/MM/dd/ HH:mm}", Convert.ToDateTime(order.orderDate))</td>
                        <td>@(order.orderState == 2 ? "出餐完畢" : "待出餐")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





