@model List<task03_0606.Models.Order>
@{
    ViewBag.Title = "Order_list_costomer";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">訂單列表--我的餐點訂單</li>
</ol>

<div class="row">
    <div class="table-responsive col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>單號</th>
                    <th>下單時間</th>
                    <th>訂單狀況</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var order in Model)

                {
                    <tr class="orderListItem" >
                        <td><a href="~/Order/Order_detail_costomer?itemOrderId=@order.orderId">@order.orderId </a></td>
                        <td>@string.Format("{0:yyyy/MM/dd/ HH:mm}", Convert.ToDateTime(order.orderDate))</td>
                        <td>@(order.orderState == 1 ? "待出餐" : "出餐完畢")</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script>

     function showModal (itemOrderId){
        $('#exampleModalCenter').modal('show');
        $.ajax({
            method: "POST",
            dataType: 'json',

            url:"@Url.Action("Order_list_costomer", "Order")",
            data: { OrderId: itemOrderId }
        })
            .done(function (dataList) {
                console.log(dataList)
                $("#detailList").empty();

                var countSum = 0;
                var amountSum = 0;
                $.each(dataList, function (index, data) {
                    $("#detailList").append('<tr><td>' + (index+1) + '</td><td>' + data.storeName + '</td><td>' + data.productID + '</td><td>' + data.productName + '</td><td>' + data.productCount + '</td><td>' + data.unitPrice + '</td><td>' + data.productCount * data.unitPrice + '</td><td>' + data.customerNote + '</td><td>' + (data.productionStatus==1?'餐點準備中':'餐點完成') + '</td></tr>');
                    countSum += data.productCount;
                    amountSum += data.productCount * data.unitPrice;
                });
                $("#detailSum").empty();
                $("#detailSum").append('<tr><td>總計</td><td></td><td></td><td></td><td>' + countSum + '</td><td></td><td>' + amountSum + '</td><td></td><td></td><</tr>');
            });
    }

    </script>



