
@{
    ViewBag.Title = "Aproducts";
}

<h2>飲品/湯品</h2>

<header>
    <ul>
        <i class='fa fa-shopping-cart'>
            <span class='counter'></span>
        </i>
    </ul>
</header>
<div class='row'>
    <div class='product--blue'>
        <div class='product_inner'>
            <img src='~/photo/drink/apple_resized.jpg' width='300'>
            <p>現榨蘋果汁</p>
            <p>Price $80</p>
            <button>Add to basket</button>
        </div>
        
    <div class='product_overlay'>
            <h2>Added to basket</h2>
            <i class='fa fa-check'></i>
        </div>

    </div>
    <div class='product--orange'>
        <div class='product_inner'>
            <img src='~/photo/drink/blackcoffee_resized.jpg' width='300'>
            <p>純正黑咖啡</p>
            <p>Price $180</p>
            <button>Add to basket</button>
        </div>
        <div class='product_overlay'>
            <h2>Added to basket</h2>
            <i class='fa fa-check'></i>
        </div>
    </div>
    <div class='product--red'>
        <div class='product_inner'>
            <img src='~/photo/drink/cocacola_resized.jpg' width='300'>
            <p>可樂</p>
            <p>Price $40</p>
            <button>Add to basket</button>
        </div>
        <div class='product_overlay'>
            <h2>Added to basket</h2>
            <i class='fa fa-check'></i>
        </div>
    </div>
    <div class='product--green'>
        <div class='product_inner'>
            <img src='~/photo/drink/coffee_resized.jpg' width='300'>
            <p>焦糖瑪奇朵</p>
            <p>Price $180</p>
            <button>Add to basket</button>
        </div>
        <div class='product_overlay'>
            <h2>Added to basket</h2>
            <i class='fa fa-check'></i>
        </div>
    </div>
    <div class='product--yellow'>
        <div class='product_inner'>
            <img src='~/photo/drink/d10.jpg' width='300'>
            <p>金桔檸檬</p>
            <p>Price $80</p>
            <button>Add to basket</button>
        </div>
        <div class='product_overlay'>
            <h2>Added to basket</h2>
            <i class='fa fa-check'></i>
        </div>
    </div>
    <div class='product--pink'>
        <div class='product_inner'>
            <img src='~/photo/drink/greentea_resized.jpg' width='300'>
            <p>高山烏龍茶</p>
            <p>Price $80</p>
            <button>Add to basket</button>
        </div>
        <div class='product_overlay'>
            <h2>Added to basket</h2>
            <i class='fa fa-check'></i>
        </div>
    </div>
</div>
