
@{
    ViewBag.Title = "BindWithViewBag";
}
@using (Html.BeginForm("CategoryChosen", "Products",
                            FormMethod.Get))
{

    <fieldset>

        Category Type :

        @Html.DropDownList("CategoryType")

    </fieldset>

}
<h2>BindWithViewBag</h2>

