@model List<task03_0606.Models.FoodCategories>
@{
    ViewBag.Title = "Index";
}

<br />
<br />

<div class="row col-12" style="margin-left:0px; margin-right:0px">
    

   
     <div class="card-group container-fluid">

        @foreach(task03_0606.Models.FoodCategories db in Model)
       {
           <div class="card" >
            <img class="card-img-top" src="~/photo/productsindex/@db.categoryPicture" alt="Card image cap">
            <div class="card-body  d-flex flex-column">
                <h5 class="card-title text-center">@db.categoryName</h5>
                <p class="card-text">@db.Description</p>
                <a href="~/Products/@db.categoryURL" class="btn btn-primary align-end mt-auto">進入挑選</a>
                

            </div>
         
        </div>
       }
    
         </div>
</div>