@model List<task03_0606.Models.FoodCategories>
@{
    string LayoutUrl = "~/Views/_normal_LayoutPage1.cshtml";
    if ((string)Session["identity"] == "storeUser") {
        LayoutUrl = "~/Views/Shared/_Layout.cshtml";
    }
    if ((string)Session["identity"] == "superUser") {
        LayoutUrl = "~/Views/_superUser_LayoutPage1.cshtml";
    }
    if ((string)Session["identity"] == "store") {
        LayoutUrl = "~/Views/Shared/_Layout.cshtml";
    }
    Layout = LayoutUrl;
    ViewBag.Title = "Index";
}

<h2>美食分類</h2>

<div class="container">
      

   
     <div class="card-group">
        @foreach(task03_0606.Models.FoodCategories db in Model)
       {
           <div class="card" style="width:200px">
            <img class="card-img-top" src="~/photo/productsindex/@db.categoryPicture" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@db.categoryName</h5>
                <p class="card-text">@db.Description</p>
                <div>
                    <a href="~/Products/@db.categoryURL" class="btn btn-primary">進入挑選</a>
                    
                </div>

            </div>
         
        </div>
       }
    
         </div>
</div>