
@{
    ViewBag.Title = "Order";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">訂單列表</a>
    </li>
    @*<li class="breadcrumb-item active">My Dashboard</li>*@
</ol>

<div class="row">

    <div class="col-xl-12 col-sm-12 mb-12">
            <div class="card-header">
                <i class="fa fa-table"></i> 訂單明細
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>訂單單號</th>
                                <th>座位</th>
                                <th>接單時間</th>
                                <th>銷單</th>
                                <th>Start date</th>
                                <th>Salary</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td>delete</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                                <td></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
</div>

