
@{
    ViewBag.Title = "AddNewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">新增商品</h2><hr />
<div class="container">
    <form method="post" action="" id="productForm" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-md">
                <div class="form-group">
                    <label for="productName">商品名稱</label>
                    <input type="text" class="form-control" id="productName" name="productName" placeholder="請輸入商品名稱" required>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="productKind">商品分類</label>
                    <select id="productKind" name="productKind" class="form-control" required>
                        <option selected>請選擇分類...</option>
                        @foreach (task03_0606.Models.Category item in ViewBag.kind) {
                        <option value="@item.categoryID">@item.categoryName</option>
                }

                    </select>

                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md">
                <div>
                    <label for="productIdSelf">商品編號 (<small>可不填寫</small>)</label>
                    <input type="text" class="form-control" id="productIdSelf" name="productIdSelf" placeholder="請輸入商品編號" />

                </div>
            </div>
            <div class="col-md">
                <label for="productPrice">商品售價</label>
                <input type="number" class="form-control" id="productPrice" name="productPrice" placeholder="請輸入商品售價" required />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md">
                <div class="form-group">
                    <label for="productDescription">商品描述</label>
                    <textarea id="productDescription" name="productDescription" class="form-control" aria-label="With textarea" rows="5" required></textarea>
                </div>
            </div>

        </div>
        <hr />
        <div class="form-row">
            <div class="col-md">
                <div class="form-group">
                    <label for="productImg">商品照片</label>
                    <input type="file" class="form-control-file" id="file" name="file" required>
                    <small>請上傳png或jpg格式之照片</small>
                </div>
            </div>
            <div class="col-md">
                <label for="previewImg">商品照片預覽</label><br />
                <img id="previewImg" src="~/photo/imgPreview.png" width="300" />
            </div>
        </div>




        <button type="submit" class="btn btn-primary">送出</button>
    </form>
</div>
<script>
    document.getElementById("file").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("previewImg").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>
