
@{
    ViewBag.Title = "CustemerOrderDetial";
    Layout = "~/Views/_Normal_Member_Home_LayoutPage1.cshtml";
}

<h2>CustemerOrderDetial</h2>
<div class="content-wrapper">
    <div class="container-fluid">
       
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">
                <i class="fa fa-bell-o"></i> 商店名稱：東風
            </div>
            <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>排骨飯</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller">今天 5:43 PM - 5分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>魚丸湯</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller">今天 5:43 PM - 5分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>滷肉飯</strong>x
                            <strong>1</strong>.
                            <div class="text-muted smaller">今天 5:43 PM - 5分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>香草冰淇淋</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller">今天 5:47 PM - 1分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action bg-light" href="#"><i class="fa fa-dollar"></i> 總金額：200 元</a>

            </div>
            <div class="card-footer small text-muted">2018-06-19</div>
        </div>
        <div>
            <a class="btn btn-primary" href="/Member/CustemerOrder">返回</a>
        </div>

    </div>
</div>
