
@{
    ViewBag.Title = "OrderCard";
    Layout = "~/Views/_Member_Home_LayoutPage1.cshtml";
}

@*<h2>OrderCard</h2>*@
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">儀錶板</a>
            </li>
            <li class="breadcrumb-item active">訂單</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">
                <i class="fa fa-bell-o"></i> 第一桌 <i class="fa fa-angle-right "></i> 王五
            </div>
            <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>排骨飯</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller">今天 5:43 PM - 5分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>魚丸湯</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller">今天 5:43 PM - 5分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>滷肉飯</strong>x
                            <strong>1</strong>.
                            <div class="text-muted smaller">今天 5:43 PM - 5分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>香草冰淇淋</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller">今天 5:47 PM - 1分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action bg-light" href="#"><i class="fa fa-dollar"></i> 總金額：200 元</a>

                <a class="list-group-item list-group-item-action bg-success text-white" href="#"><i class="fa fa-check btn-success"></i> 完成送出</a>
            </div>
            <div class="card-footer small text-muted">5:48 PM 更新</div>
        </div>
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">
                <i class="fa fa-bell-o"></i> 第二桌 <i class="fa fa-angle-right "></i> 林六
            </div>
            <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>牛肉麵</strong>x
                            <strong>1</strong>.
                            <div class="text-muted smaller">今天 5:43 PM - 5分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>滷肉飯</strong>x
                            <strong>1</strong>.
                            <div class="text-muted smaller">今天 5:43 PM - 5分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>蘋果</strong>x
                            <strong>1</strong>.
                            <div class="text-muted smaller">今天 5:47 PM - 1分鐘前</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action bg-light" href="#"><i class="fa fa-dollar"></i> 總金額：100 元</a>

                <a class="list-group-item list-group-item-action bg-success text-white" href="#"><i class="fa fa-check btn-success"></i> 完成送出</a>
            </div>
            <div class="card-footer small text-muted">5:48 PM 更新</div>
        </div>

    </div>
</div>