
@{
    ViewBag.Title = "OrderCard";
    Layout = "~/Views/_Member_Home_LayoutPage1.cshtml";
}

@*<h2>OrderCard</h2>*@
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">儀錶板</a>
            </li>
            <li class="breadcrumb-item active">訂單</li>
        </ol>
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-title">

                        <div class="mr-5">第一桌 <i class="fa fa-angle-right"></i> 張三</div>
                    </div>

                    <div class="card-footer text-white clearfix small z-1">
                        <h5>滷肉飯x2</h5>
                        <h5>牛肉麵x2</h5>
                        <h5>滷肉飯x2</h5>
                        <h5>牛肉麵x2</h5>
                        <h5>滷肉飯x2</h5>
                        <h5>牛肉麵x2</h5>
                        <span class="pull-right"><a href="#" class="btn btn-success">完成送出</a></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-title">

                        <div class="mr-5">第一桌 <i class="fa fa-angle-right"></i> 張三</div>
                    </div>

                    <div class="card-footer text-white clearfix small z-1">
                        <h5>滷肉飯x2</h5>
                        <h5>牛肉麵x2</h5>

                        <span class="pull-right"><a href="#" class="btn btn-success">完成送出</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-title">

                        <div class="mr-5">第一桌 <i class="fa fa-angle-right"></i> 張三</div>
                    </div>

                    <div class="card-footer text-white clearfix small z-1">
                        <h5>滷肉飯x2</h5>
                        <h5>牛肉麵x2</h5>

                        <span class="pull-right"><a href="#" class="btn btn-success">完成送出</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-title">

                        <div class="mr-5">第一桌 <i class="fa fa-angle-right"></i> 張三</div>
                    </div>

                    <div class="card-footer text-white clearfix small z-1">
                        <h5>滷肉飯x2</h5>
                        <h5>牛肉麵x2</h5>

                        <span class="pull-right"><a href="#" class="btn btn-success">完成送出</a></span>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-title">

                        <div class="mr-5">第一桌 <i class="fa fa-angle-right"></i> 張三</div>
                    </div>

                    <div class="card-footer text-white clearfix small z-1">
                        <h5>滷肉飯x2</h5>
                        <h5>牛肉麵x2</h5>

                        <span class="pull-right"><a href="#" class="btn btn-success">完成送出</a></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>