
@{
    ViewBag.Title = "OrderDetial";
    Layout = "~/Views/_Member_Home_LayoutPage1.cshtml";
}

<h2>訂單詳細資料</h2>
<!-- Example Notifications Card-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">儀錶板</a>
            </li>
            <li class="breadcrumb-item active">訂單詳細資料</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header bg-primary text-white">
                <i class="fa fa-bell-o"></i> 第一桌 <i class="fa fa-angle-right "></i> 王五
            </div>
            <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>排骨飯</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller"><i class="fa fa-dollar"></i> 單類總金額：100 元</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>魚丸湯</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller"><i class="fa fa-dollar"></i> 單類總金額：40 元</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>滷肉飯</strong>x
                            <strong>1</strong>.
                            <div class="text-muted smaller"><i class="fa fa-dollar"></i> 單類總金額：20 元</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                            <strong>香草冰淇淋</strong>x
                            <strong>2</strong>.
                            <div class="text-muted smaller"><i class="fa fa-dollar"></i> 單類總金額：40 元</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item list-group-item-action bg-light" href="#"><i class="fa fa-dollar"></i> 總金額：200 元</a>

                <a class="list-group-item list-group-item-action bg-success text-white" href="#"><i class="fa fa-clock-o btn-success"></i> 訂單狀態：顧客訂購</a>
            </div>
            <div class="card-footer small text-muted">5:48 PM 更新</div>
        </div>

    </div>
</div>