@using task03_0606.Models

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_Member_LayoutPage1.cshtml";
}

<h2>註冊帳號</h2>

<div class="container custom-container-width">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">註冊帳號</div>
        <div class="card-body">
            <form method="post" action="">
                <div class="form-group">
                    <div class="form-row">

                        <div class="col-md-6">
                            <label for="LastName">姓氏</label>
                            <input class="form-control" id="LastName" type="text" required="required" aria-describedby="nameHelp" placeholder="請輸入姓氏...">
                        </div>
                        <div class="col-md-6">
                            <label for="FirstName">名稱</label>
                            <input class="form-control" id="FirstName" type="text" required="required" aria-describedby="nameHelp" placeholder="請輸入名稱...">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="uid">身分證字號</label>
                    <input class="form-control" id="uid" type="text" maxlength="10" pattern="(^[A-Z]{1})([1-2]{1})([0-9]{8})" required="required" aria-describedby="emailHelp" placeholder="請輸入身分證字號，首字母大寫...">
                </div>
                <div class="form-group">
                    <label for="Email1">電子信箱</label>
                    <input class="form-control" id="Email1" type="email" required="required" aria-describedby="emailHelp" placeholder="請輸入電子信箱...">
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="Password1">密碼</label>
                            <input class="form-control" id="Password1" type="password" required="required" placeholder="請輸入密碼...">
                        </div>
                        <div class="col-md-6">
                            <label for="ConfirmPassword" id="ConfPwdLabel">確認密碼</label>
                            <input class="form-control" id="ConfirmPassword" type="password" required="required" placeholder="確認密碼...">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cellPhone">手機號碼</label>
                    <input class="form-control" id="cellPhone" type="tel" maxlength="10" pattern="([0]{1})([9]{1})(\d{8})" required aria-describedby="telHelp" placeholder="請輸入手機號碼...">
                </div>


                <label for="Address">地址</label>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md">
                            <label for="inputCity">城市</label>
                            <select id="city" name="city" class="form-control">
                                <option selected>選擇城市</option>

                                @foreach (var item in ViewBag.city) {
                                    <option value="@item">@item</option>
                                }


                            </select>
                        </div>
                        <div class="col-md">
                            <label for="inputDistrict">行政區</label>
                            <select id="district" name="district" class="form-control">
                                <option selected>選擇行政區</option>
                                @foreach (var item in ViewBag.district) {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="inputRoad">路名</label>
                            <select id="road" name="road" class="form-control">
                                <option selected>選擇路名</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md">
                            <label for="inputLane">巷</label>
                            <input class="form-control" id="lane" name="lane" type="text" placeholder="...">
                        </div>
                        <div class="col-md">
                            <label for="inputAlley">弄</label>
                            <input class="form-control" id="alley" name="alley" type="text" placeholder="...">
                        </div>
                        <div class="col-md">
                            <label for="inputAddressNum">號</label>
                            <input class="form-control" id="addressNum" name="addressNum" type="text" required placeholder="...">
                        </div>
                        <div class="col-md">
                            <label for="inputF">樓</label>
                            <input class="form-control" id="addressF" name="addressF" type="text" placeholder="...">
                        </div>
                    </div>
                </div>


                @*<a class="btn btn-primary btn-block" href="login.html">註冊</a>*@
                <button type="submit" class="btn btn-primary btn-block">註冊</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/Member/Login">登入</a>
                <a class="d-block small" href="/Member/ForgotPassword">忘記密碼?</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.twzipcode.min.js"></script>
<script src="/js/yi.js"></script>
